{% extends 'base.html' %}
{% load static %}
{% block title %}All Poems{% endblock title %}

{% block content %}
{% if all_poems %}
    {% for post in all_poems %}
    <a style='color:white;' href="{% url 'poem_detail' post.id %}">
    <div id="background-posts" style="color:white;margin-bottom:10px; margin-left:20px; margin-right:20px; border-radius:15%">
    <div style="margin-left:45%; color:white;"> <br>
        <p style="margin-left:60%">{{post.date_posted|date:"d-m-Y"}}</p>
        
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6" style="margin-left:-10%">
                <img class="img-profile" style="border-radius: 50%;width: 60px;height:60px;" src="{{ post.username.profile.image.url }}" alt="">
                </div>
                <div class="col-md-6 col-sm-6" style="margin-left:-30%">
                <h1 style="text-decoration:underline">{{post.username}}</h1>
                </div>
            </div>
        </div>

        <a href="{% url 'poem_detail' post.id %}"><h5 style="text-decoration:underline">Title: {{post.poem_title}}</h5></a>
        <h5> {{post.poem_description}}</h5>
    </div></a>

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for p in post.poem_images_set.all %}
                {% if forloop.first %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}" class="active"></li>
                {% else %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}"></li>

                {% endif %}
            {% endfor %}
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {% for p in post.poem_images_set.all %}
                {% if forloop.first %}
                    <div class="carousel-item active  ">
                {% else %}
                    <div class="carousel-item  ">
                {% endif %}
                <a href="{% url 'poem_detail' post.id %}"><img id="img-poem" class="d-block w-60" class="d-inline-block" 
                
                src="{{ p.poem_image.url }}" alt=""></a>
                </div>

            {% endfor %}
        </div>

        {% for p in post.poem_images_set.all %}
        {% if p %}
        <a style="margin-left:20%"  class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a style="margin-right: 20%;" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        {% endif %}
        {% endfor %}
        </div>
        <br>
    </div> 
    </div></a>
{% endfor %}
{% else %}
        <div class = "container" id="background-posts" 
        style="color:white;margin-bottom:10px; margin-left:50px; margin-right:50px; border-radius:15%">
            <div class="row">
                <div class = "col-md-5 offset-md-4 col-sm-12 offset-sm-4" > <br>
                            <legend class="border-bottom">Not Found Anything to Show Up!!!</legend>
                            
                            <img style = "width:400px; height:400px;" 
                            src="https://tss-static-images.gumlet.io/emptyCart.png" alt="">
            {% comment %} https://i1.wp.com/www.huratips.com/wp-content/uploads/2019/04/empty-cart.png?resize=603%2C288&ssl=1 {% endcomment %}
            <h5>Upload Your Writes or Poems</h5>
            <button style="margin-left:20%" class="btn btn-outline-danger" ><a style = "text-decoration:None" href="{% url 'create_poems' %}">Post Writes</a></button>
                </div>
            </div>
        </div>
{% endif %}

<div class="col-lg-6 offset-lg-5 col-sm-12 offset-sm-4" style="margin-top:15px;">
        {% if is_paginated %} {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a> {% endif %} {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a> {% endif %} {% endfor %} {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a> {% endif %} {% endif %}
    </div>

{% endblock content %}