{% extends 'base.html' %}
{% load static %} {% load crispy_forms_tags %}
{% block title %}Post 4th Year Form{% endblock title %}

{% block content %}

    <fieldset id="forms-background" style=" font-family: Noto Sans, sans-serif;" 
                    class="form-group col-md-7 offset-md-3">
            <legend class="border-bottom mb-4">Bad Request</legend>
            <h5>You have Already Filled the Data.... You can't request for another response.</h5>
            <h5>But You have access to Edit Your Previous Response....</h5>
                    <hr>
        </fieldset>
    
{% endblock content %}