{% extends 'base.html' %}
{% load static %}
{% block title %}Empty{% endblock title %}
{% block content %}
<div class="container my-5">
 <div class="row">
  <h1 class="text-center mb-2">Sorry, We have Nothing to Show</h1>

    <div class="text-center">
     <div class="col-sm-12 text-center align-self-center"><img src="https://cdn.dribbble.com/users/2666881/screenshots/11346959/empty2_4x.png" 
     alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="500" width="380"> </div>
<h1 class="text-center mb-2">Please Add something</h1>
 </div>
</div>
</div>
{% endblock content %}
