{% extends 'base.html' %}
{% load static %} {% load crispy_forms_tags %}
{% block title %}Reset Password Confirm{% endblock title %}
{% block content %}
<div class="container">
 <div class="row">
   <form action="" method="post" novalidate class="shadow p-5">
        {% csrf_token %}
        <fieldset id="forms-background" style=" font-family: Noto Sans, sans-serif;" 
                    class="form-group col-md-7 offset-md-3">
        <legend class="border-bottom mb-4">Set New Password</legend>
                        <div class="form-group">
                    {{form|crispy}} <small class="text-danger">{{ form.errors|striptags}}</small>
                </div>
     <button type="submit" class="btn btn-primary mb-4" value="Save">Submit</button>
     
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}

   </form>
  </div>
 </div>
</div>
</div>
{% endblock content %}