{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
<div class="container">
 <div class="row">


  <fieldset id="forms-background" style=" font-family: Noto Sans, sans-serif;" 
                    class="form-group col-md-7 offset-md-3">
        <legend class="border-bottom mb-4">Well Done</legend>
        <p>An email has been sent to reset your password. <b>Check your Email</b></p>
        </fieldset>

</div>
</div>
{% endblock content %}