{% extends 'base.html' %}
{% load static %}
{% block title %}Password Change Done{% endblock title %}
{% block content %}
<div class="container">
 <div class="row">

<fieldset id="forms-backgroun" style=" font-family: Noto Sans, sans-serif; color:white" 
                    class="form-group col-md-7 offset-md-3">
        <legend class="border-bottom mb-4">Password Changed Successfully!!!</legend>
        <div style="margin: auto; width: 65%;"><iframe src="https://thumbs.gfycat.com/EasygoingWastefulIridescentshark-size_restricted.gif" frameborder="0"
        width="400" height="320" class="giphy-embed" allowFullScreen></iframe></div>

        <small style="text-align:center"><a href="{% url 'home' %}" class="text-danger">Go back to Home Page</a></small>
        </fieldset>    
</div>
</div>
{% endblock content %}